.container {
  /* display: inline-block; */
  border: 0.5px double;
  text-align: end;
  background-color: rgb(244, 239, 239);
  width: 100%;

  position: fixed;
}
.container > div {
  display: inline-block;
  padding-right: 10px;
  font-size: large;
  color: rgb(0, 3, 5);
  margin-right: 10px;
}

.container img {
  float: left;
  padding-left: 3px;
}
* {
  margin: 0;
}
