/* .container {
  width: 100%;
  overflow: auto;
  background-color: black;
  color: aliceblue;
}
.container > div {
  width: 33%;
  float: left;
} */
/* .container { */
display: flex;
background: fixed;
background-color: black;
text-align: end;
color: aliceblue;
/* float: right; */
/* } */
/* .container > div { */
padding: 10px;
text-align: right;
display: inline-flex;

width: 33%;
padding-left: 20%;
margin-left: px;
/* } */
.container {
  /* width: 500px; */
  display: flex;
  justify-content: flex-end;
}
.item {
  display: inline-block;
}
